// 1200 px
@media only screen and (max-width:1200px) {
  // header content
  .header-containerr { 

  .header-content__img {
    width: 630px;
    height: 630px;
    }

  }

  .main-solution__img {
    width: 600px;
    height: 600px;
  }

  // Main card
  .box-container {
    flex-wrap: wrap;
  }

  // Main Box
    .cards-container {


     .main-cards {
      flex-wrap: wrap;
      justify-content: center;
      gap:41px !important;
     }
    }

    // Main Seo

    .container-seo {
      flex-wrap: wrap;
    }

    .main-seo__img {
      width: 100% !important;
      height: 100% !important;
    }
}

// 1100 px
@media only screen and (max-width:1100px) {
  .header-containerr {
      flex-wrap: wrap-reverse;
      justify-content: flex-start;
      row-gap: 50px;

      .header-content__img {
        width: 100%;
        height: 100%;
      }
    .header-content__title{
      font-size: 49px;
    }
    .header-content__text {
      font-size: 19px;
    }
  }

  .main-solution__img {
    width: 550px;
    height: 550px;
  }
  //  Main cards
  .cards-container {

    .main-card {
     display: flex;
    }
   }
}

// 992 px
@media only screen and (max-width:992px) {
  // Header nav
  .header-container {

    .header-nav__list {
      display: none !important;
    }
  
    .header-hamburger {
      display: flex;
    }
  }
  // Solution 
  .solution-container {
    flex-direction: column-reverse;

    .main-solution__img {
      width: 100%;
      height: 100%;
    }
  }

}

@media only screen and (max-width:825px) {
  .cards-container {
    .main-card {
      flex-direction: column;
     }

  }
}

// 768 px
@media only screen and (max-width:768px) {
  // Container logo
  .logo-container {
    flex-wrap: wrap;
    gap: 31px;
  }

  
}

// 576px
@media only screen and (max-width:576px) {
// Main seo

.container-seo {

    .seo-content__title {
      font-size: 36px;
      width: 100%;
    }

    .seo-content__text {
     width: 100%;
    }
}
}
// 501 px
@media only screen and (max-width:501px) {
  .header-containerr {
    .header-content__title {
      font-size: 41px !important;
    }

    .header-content__btns {
      flex-direction: column;
    }
  }
  
  .solution-container {
    flex-direction: column-reverse;

    .solution-content__title {
      font-size: 36px !important;
    }
  }

  // main card
  .main-card {
    align-items: center;
    .cards-content__title {
      font-size: 36px !important;
    }
    .main-card__img {
      width: 290px;
      height: 200px;
    }
  }

  // Main seo 
  .container-seo {
      .card-content__title {
        width: 100%;
      }

      .seo-content__title {
        font-size: 27px !important;
      }
    .card-content__text {
      width: 100% !important;
    }

    .seo-content__card {
      flex-direction: column;
      align-items: center !important;
      justify-content: center;
      padding: 30px;
    }
    
    .card-content__textt {
      max-width: 240px;
    }
  }
  
}
// 401 px
@media only screen and (max-width:401px) {
  .header-containerr {
    .header-content__title {
      font-size: 31px !important;
      line-height: 51px !important;
    }
    .header-content__text {
      font-size: 16px !important;
    }
  }

  // Solution
  .solution-container {
    flex-direction: column-reverse;

    .main-solution__content {
      display: flex;
      flex-direction: column;

    }

    .solution-content__title {
      font-size: 27px !important;
    }
    .solution-content__text {
      font-size: 14px !important;
    }
  }

  // Main card
  .main-box {
    padding: 30px !important;
  }
  .box-content__title {
    font-size: 17px !important;
  }
  .box-content__text {
    font-size: 12px !important;
    max-width: 210px !important;
  }

  // Main card
  .cards-container {

    .main-card {
      padding: 15px 0 30px 15px !important;
    }
    .cards-content__title {
      font-size: 31px !important;
    }
    .cards-content__text {
      max-width: 300px !important;
    }

    .main-card-content {
      padding: 20px 0 !important;
    }
  }
  // Main seo 

  
}

// Main seo 


@media only screen and (max-width:355px) {

  .container-seo {

    .seo-content__title {
      font-size: 23px !important;
    }
  }
}