@mixin transition-ease {
  transition: all .4s ease-in-out;
}

@mixin btn-hover {
  color: $btnColor;
  background-color: $black;
}

@mixin container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}